## Import thư viện

In [4]:
import numpy as np
import pandas as pd

## Đọc dữ liệu

In [7]:
data_df = pd.read_json('data.json')

In [10]:
data_df

                                                     dataset
dimension  {'Địa phương': {'label': 'Địa phương', 'catego...
label      Lực lượng lao động từ 15 tuổi trở lên phân the...
source                                                  None
status     {'50': None, '51': None, '52': None, '53': Non...
updated                                 9999-12-31T16:59:59Z
value      [44904.5, 47160.3, 48209.6, 49322, 50473.5, 51...

## Tiền xử lý dữ liệu

Như bảng trên, dữ liệu từ file json vẫn chưa thể sử dụng, trước đó ta cần chuyển về định dạng dòng cột hợp lý để có thể xử lý bằng pandas

Trước hết, ta lọc ra label của các năm

In [62]:
year_label = list(data_df['dataset']['dimension']['Năm']['category']['label'].values())
year_label

['2005',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020',
 'Sơ bộ 2021']

Đổi label cuối cùng thành '2021' cho dễ nhìn hơn

In [66]:
year_label[-1] = '2021'

Tiếp theo, lấy label của tất cả các địa phương

In [40]:
diaPhuong_label = data_df['dataset']['dimension']['Địa phương']['category']['label'].values()
diaPhuong_label

dict_values(['CẢ NƯỚC', 'Đồng bằng sông Hồng', 'Hà Nội', 'Hà Tây', 'Vĩnh Phúc', 'Bắc Ninh', 'Quảng Ninh', 'Hải Dương', 'Hải Phòng', 'Hưng Yên', 'Thái Bình', 'Hà Nam', 'Nam Định', 'Ninh Bình', 'Trung du và miền núi phía Bắc', 'Hà Giang', 'Cao Bằng', 'Bắc Kạn', 'Tuyên Quang', 'Lào Cai', 'Yên Bái', 'Thái Nguyên', 'Lạng Sơn', 'Bắc Giang', 'Phú Thọ', 'Điện Biên', 'Lai Châu', 'Sơn La', 'Hòa Bình', 'Bắc Trung Bộ và duyên hải miền Trung', 'Thanh Hóa', 'Nghệ An', 'Hà Tĩnh', 'Quảng Bình', 'Quảng Trị', 'Thừa Thiên - Huế', 'Đà Nẵng', 'Quảng Nam', 'Quảng Ngãi', 'Bình Định', 'Phú Yên', 'Khánh Hòa', 'Ninh Thuận', 'Bình Thuận', 'Tây Nguyên', 'Kon Tum', 'Gia Lai', 'Đắk Lắk', 'Đắk Nông', 'Lâm Đồng', 'Đông Nam Bộ', 'Bình Phước', 'Tây Ninh', 'Bình Dương', 'Đồng Nai', 'Bà Rịa - Vũng Tàu', 'TP. Hồ Chí Minh', 'Đồng bằng sông Cửu Long', 'Long An', 'Tiền Giang', 'Bến Tre', 'Trà Vinh', 'Vĩnh Long', 'Đồng Tháp', 'An Giang', 'Kiên Giang', 'Cần Thơ', 'Hậu Giang', 'Sóc Trăng', 'Bạc Liêu', 'Cà Mau'])

Tiếp theo, lấy dữ liệu của từng ô

In [41]:
value = np.array(data_df['dataset']['value']).reshape(len(diaPhuong_label), len(year_label))
value

array([[44904.5, 47160.3, 48209.6, ..., 55767.4, 54842.937, 50560.5],
       [10728.4, 11032.5, 11057, ..., 12438.2, 12182.09500000073,
        11436.7],
       [1553.1, 1653.7, 3421.2, ..., 4118.3, 4124.6220000007, 3939.9],
       ...,
       [720.3, 707.8, 722.3, ..., 657.9, 641.911, 614.1],
       [439.4, 451.6, 483.1, ..., 518.1, 507.758, 480.9],
       [581.6, 625.5, 654.1, ..., 690.9, 669.773, 596.8]], dtype=object)

Cuối cùng, lưu dữ liệu vào dataframe

In [67]:
data = pd.DataFrame(data = value, index = diaPhuong_label, columns = year_label)
data = data.fillna(value=np.nan)

## Khám phá dữ liệu

Dùng hàm describe để xem xét các chỉ số như count, mean, std, Q1, Q3,.. để có cái nhìn chung hơn về dữ liệu.

In [68]:
data.describe().round(2)

,2005,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
count,71.00,71.00,70.00,70.00,70.00,70.00,70.00,70.00,70.00,70.00,70.00,70.00,70.00,70.00,70.00,70.00
mean,1897.37,1992.69,2066.13,2113.80,2163.15,2211.18,2255.00,2294.97,2316.03,2325.69,2334.98,2349.41,2373.77,2390.03,2350.41,2166.88
std,5590.97,5870.15,6045.73,6181.21,6327.27,6465.48,6593.36,6709.98,6770.67,6799.67,6825.89,6867.76,6938.52,6986.25,6870.09,6341.38
min,168.40,177.20,179.80,189.80,194.50,199.90,204.50,213.40,216.13,212.40,212.50,208.70,216.50,211.00,205.97,144.60
25%,443.95,457.35,487.72,479.18,488.48,509.02,522.35,535.45,536.10,534.78,532.38,531.45,537.85,538.80,529.78,477.45
50%,627.40,662.40,658.95,667.35,676.55,686.20,703.75,710.50,720.25,717.70,719.20,727.15,732.85,730.65,719.39,661.80
75%,953.50,1001.70,988.72,1009.70,1013.05,1056.12,1074.53,1092.45,1075.22,1077.18,1071.40,1081.60,1085.75,1098.62,1065.66,959.18
max,44904.50,47160.30,48209.60,49322.00,50473.50,51594.30,52616.60,53549.30,54040.70,54266.00,54482.80,54819.60,55388.00,55767.40,54842.94,50560.50

Như thấy trên, dữ liệu rất đầy đủ và không có gì bất thường. Ngoài trừ count của năm 2008 trở đi thì sẽ là 70. Điều này là do năm 2008 trở đi thì tỉnh Hà Tây đã sát nhập vào Hà Nội, nên dữ liệu của nó không còn nữa, điều này là bình thường.